
footer {
	// position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $footer-bg-color;
	padding: rem-calc(40) 0;
	font-size: .7rem;

	.footer-container {
		h1 {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.15em;
			margin: 0;
		}

		ul {
			li {
				line-height: 1.8;
				a {
					color: inherit;
					text-decoration: underline;

					&:hover, &:active, &:link, &:focus {
						color: inherit;
						text-decoration: underline;
					}
				}
			}
		}

		.row {
			max-width: 100%;

			.columns {
				padding: 0;
			}
		}
	}
}
