@mixin horizontal-padding($padding) {
	padding-left: $padding !important;
	padding-right: $padding !important;
}

.container-fluid {
	width: 96%;
	margin-left: auto;
	margin-right: auto;

  @include clearfix;
}

.container {
	@include clearfix;
	width: 100%;
	max-width: $grid-width;
	margin-left: auto;
	margin-right: auto;

	@include media('<tablet') {
		padding: 0 15px;
	};
}

// get rid of the outter padding
.row {
	margin-bottom: 10px;
	max-width: 100%;

	.row.full-width {
		margin-left: 0;
		margin-right: 0;
	}

	.columns {
			@include horizontal-padding(5px);
	}
}

.smaller-margins {
	.columns {
			@include horizontal-padding(5px);
	}
}

// #main {
//   .col2-left-layout {
//     .col-left {
//       float: left;
//       &.medium {
//         width: 20%;
//       }
//     }
//     .col-main {
//       float: left;
// 			padding: 0;
//
// 			&.medium{
// 				width: 80%;
// 			}
//     }
//   }
// }

.col-left,
.col-main {
	margin-top: 20px;
}
