@mixin horizontal-padding($padding) {
	padding-left: $padding !important;
	padding-right: $padding !important;
}

#main {
	position: relative;
}

.container-fluid {
	width: 96%;
	margin-left: auto;
	margin-right: auto;

  @include clearfix;
}

.container {
	@include clearfix;
	width: 100%;
	max-width: $grid-width;
	margin-left: auto;
	margin-right: auto;


	@include media('<=tablet') {
		padding: 0 10px;
	};
}

// get rid of the outter padding
.row {
	margin-bottom: 10px;
	max-width: 100%;

	.row.full-width {
		margin-left: 0;
		margin-right: 0;
	}

	.columns {
			@include horizontal-padding(5px);
	}
}

.smaller-margins {
	.columns {
			@include horizontal-padding(5px);
	}
}

.col-left,
.col-main {
	margin-top: 20px;
}

.deals_de {
	.one-column .col-main {
		margin-top: 0;
	}
}

.col-main {
	min-height: 320px;
}

.col2-left-layout {
	.col-left,
	.col-main {
		float: left;
	}
	.col-left {
		width: 25%;
	}
	.col-main {
		width: 75%;
	}

	@include media('>=phone','<=tablet') {
		.col-left,
		.col-main {
			float: none;
			width: 100%;
		}

		.col-left {
			display: none;
			margin-top: 0;

			position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 10;
	    background-color: rgba($white-base,.85);
			overflow: auto;
			padding: 30px 0;

			transition-property: all;
			transition-duration: .5s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		}

		.block-content.no-display {
			display: block;
		}
  };
}
.close-sidebar {
	position: absolute;
	top: 10px;
	right: 6%;
}

@include media('>=phone', '<=tablet') {
	.sidebar .block {
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		.block-content {
			margin-bottom: 10px;
		}
		.block-content dl dt.title {
			max-width: 100%;
			min-width: 300px;
		}
	}
};
