$customer-nav-list-p-margin-top: 5px;
$customer-icons-font-size: 1.5rem;

.fixed-top {
	height: 40px;
	line-height: 40px;
	background-color: $grey-base;
	color: $white-base;
	margin-bottom: 10px;

	div.container {
		span {
			width: 24%;
			display: inline-block;
			font-weight: 100;
			font-size: rem-calc(12);
		}
	}
}

.top-header {
	max-height: 100px;
	height: 100px;
	position: relative;

	@include media("<desktop") {
		max-height: 100%;
		height: auto;
	}

	.top-header-element {
		position: absolute;

		&.top-header-left {
			left: 0;
		}
		&.top-header-center {
			left: 50%;
			transform: translateX(-50%);
		}
		&.top-header-right {
			right: 0;
		}
		&.store-select {
			bottom: 8px;
		}
		&.brand {
			align-self: center;
			text-align: center;
			bottom: 5px;

			a.logo-link img {
				max-width: 170px;
				// width: 145px;
				// height: 58px;
			}
		}
		&.customer-nav {
			align-self: flex-start;
			bottom: 0;

			.customer-nav-container {
				float: right;
			}
		}

		@include media("<desktop") {
			position: relative;

			&.top-header-left {
				display: none;
			}
			&.top-header-center {
				left: 0;
				transform: none;
				clear: both;

				&.brand {
					@include clearfix;
					position: relative;
					text-align: left;
					bottom: 0;

					.logo-wrapper {
						float: left;
						text-align: center;

						.logo-link img {
							max-height: 80px;
							width: auto;
						}
					}

					.search-wrapper {
						float: right;
						height: 80px;
						background-color: $white-base;

						.mobile-search-wrapper {
							margin-top: 20px;
							padding: 0 20px;
						}

						&.spread {
							position: absolute;
							width: 100%;
						}
					}
				}
			}
			&.top-header-right {
				right: 0;
			}

			&.customer-nav .customer-nav-container {
				float: none;
			}
		}
	}
}

ul.customer-nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li.customer-nav-element {
		display: inline-block;
		position: relative;
		text-align: center;
		padding: 0;
		height: 62px;
		width: 90px;
		// transition: border, box-shadow;

		.dropdown-tab {
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $white;
			padding-top: 10px;

			a {
				@include same-link-style($black-base);
			}

			i {
				font-size: $customer-icons-font-size;
				&.fa {
					margin: 0;
				}
			}
			p {
				font-size: rem-calc(13);
				margin: 0;
			}
		}

		.dropdown-content {
			display: none;
			margin-top: 10px;
			position: absolute;
			top: 50px;
			right: -1px;
			z-index: 5;
			padding: 10px 20px;
			background-color: rgba($white, .9);
			border: 1px solid $gray-lighter-2;
			@include box-shadow(2px 0 1px -2px $gray-lighter-1);

			.links ul {
				list-style: none;
				padding: 0;
				min-width: 160px;
			}
		}

		@include media('>=desktop') {
			&:hover {
				padding: 4px 19px 0;
				border: 1px solid $gray-lighter-2;
				border-bottom: none;
				@include box-shadow(2px 0 1px -2px $gray-lighter-1);

				.dropdown-content {
					display: block;
				}
			}
		}
	}

	@include media('<desktop') {
		li.customer-nav-element {
			height: 75px;
			float: left;
			width: 25%;
		}
	}
}

.navbar {
	border: 1px $navbar-border-color solid;
	border-left: 0;
	border-right: 0;
	position: relative;
	font-size: $font-size-normal;

	@include media("<desktop") {
		display: none;
	}

	.menu {
		width: 70%;
		float: left;

		ul.level0 {
			display: none;
		}
	}
	.global-search {
		float: right;
		width: 30%;
		padding: 0.375rem 0;

		.input-group {
			padding: 0;

			> * {
				border-radius: 0;
			}
		}

		.global-search-x {
			&.input-group-button {
				// background-color: #b6b8b8;
				a {
					padding: 0 5px;
				}
			}
		}

		.global-search-field, .global-search-button {
			display: inline-block;
		}
	}
}

.icon {
	position: relative;
	width: 60px;
	height: 50px;
	margin: 0 auto;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center 0;

	span {
		position: absolute;
		font-size: .7em;
		width: 100%;
		text-align: center;
		bottom: -5px;
		left: 0;
	}

	&.mobile-menu {
		background-image: url('../images/icons/icon-menu.svg');
		background-size: 60%;

		span {
			left: -2px;
		}
	}
	&.customeraccount {
		background-image: url('../images/icons/icon-customeraccount.svg');

		&.loggedin {
			span {
				width: 75px;
				// left: -18px;
			}
		}
	}
	&.shoppingcart {
		background-image: url('../images/icons/icon-cart.svg');

		span {
			// left: -14px;
		}
		span.count {
			top: 50%;
			bottom: 0;
			left: 22px;
			transform: translateY(-50%);
		}
	}
	&.wishlist {
		// background: url('../images/icons/icon-wishlist.svg') no-repeat 0 0;
		background-image: url('../images/icons/icon-heart.svg');
		background-size: 60%;
		background-position: center 4px;

		span {
			left: -5px;
		}
	}
}

.offcanvas-menu-wrapper {
	margin-top: 3em;
	h1 {
		@extend .uppercase;
		color: $white-base;
		font-size: 1.75em;
		a {
			color: $white-base;
			@include same-link-style($white-base);
		}
	}
	ul {
		@extend .unstyled;

		li {
			font-size: 1.25em;
			margin-bottom: .5em;
			a {
				color: $white-base;
				@include same-link-style($white-base);
			}
			&:last-child {
				margin-bottom: 0;
			}

			ul {
				display: none;
			}
		}
	}
}

.store-button {
	display: inline-block;
	position: relative;

	.ic-deals-fahne {
		display: inline-block;
		background: url('../images/icons/deals_fahne.png') center no-repeat;
		background-size: contain;
		width: 80px;
		height: 55px;

		position: absolute;
		top: -20px; right: -60px
	}

	&:hover {
		.ic-deals-fahne {
			right: -70px;
		}
	}
}
