
.cart {
  .page-title.title-buttons h1{
    float: left;
  }

  h1 {
    span.strong {
      color: $gold-base;
      text-transform: uppercase;
    }
  }

  .cart-title {
    margin: 15px 0;
  }

  a.btn-remove {
    @include same-link-style($gray-lighter-2);
  }
}

.cart-table {
  td {
    div {
      line-height: 18px;
      &.product-cart-manufacturer {
        font-weight: $font-weight-bold;
        color: $black-base;
      }
      &.product-name a {
        @include same-link-style($gray-base);
      }
      &.product-cart-deliverytime {
        margin-bottom: 8px;
      }
    }

    &.product-cart-info {
      text-align: left;
      position: relative;

      .btn-remove {
        position: absolute;
        bottom: 10px;
      }
    }
    &.product-cart-image img {
      min-width: 100px;
    }
    &.product-cart-actions {
      input {
        display: block;
        width: 35%;
        text-align: center;
        margin: 0 auto 5px;
      }
    }
    &.product-cart-total {
      font-weight: $font-weight-bold;
    }
  }

  dl.item-options {
    @include clearfix;

    dt,
    dd {
      float: left;
      width: 50%;
      margin-bottom: 0;
      text-align: left;
    }
    dt {
      clear: left;
      padding-right: 10px;
      text-align: right;
    }
  }
}

.cart-table {
  tfoot {
    td {
      &.a-left {
        text-align: left;
      }
      &.a-right {
        text-align: right;
      }
      &.shipping-icon,
      &.cart-shipping-info,
      &.cart-part-totals {
        vertical-align: middle;
      }
    }

    dl.totals-block {
      margin-bottom: 0;
      padding-top: 10px;

      dd {
        p.note {
          font-size: 9px;
        }
      }
    }
  }

  p.empty {
    margin: 10px 0;
  }
}
.shipping-estimate-wrapper {
  h2, p {
    color: #6e6e6e;
    font-size: 12px;
    margin: 0;
  }
  h2 {
    font-weight: $weight-bold;
    // margin-bottom: 5px;
  }

  @include media('>=phone', '<tablet') {
    text-align: center;
  };
}

.summary-wrapper {
  @include clearfix;
  margin-top: 40px;
  padding-top: 5px;
  border-top: 2px solid $gray-base;

  &:before {
    content: ' ';
    border-top: 1px solid $gray-base;
    display: block;
    width: 100%;
    padding-top: 20px;
  }

  .summary-shipping {
    float: left;

    .icon-container {
      float: left;
      width: 120px;
      text-align: center;
      padding-top: 10px;
    }
    .shipping-estimate-wrapper {
      float: left;
      line-height: 18px;
    }
  }
  .cart-totals-wrapper {
    float: right;

    .cart-totals {
      @include clearfix;
      text-align: right;
    }
  }
}

ul.checkout-types{
  float: right;

  li {
    display: inline;
    margin-right: 8px;

    &:last { margin-right: 0; }

    button {
      @extend button.gold;
      @extend button.height-m;
      @extend button.width-l;
      &::after {
        content: ">";
        padding-left: 3px;
      }
    }
  }

  &.bottom {
    clear: both;
  }
}

@include media('>=phone','<tablet') {
  .page-title h1 {
    display: none;
  }

  ul.checkout-types {
    float: none;
    margin-left: 0;

    li {
      display: inline-block;
      margin-right: 0;
      width: 48%;

      button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }

      &:last-child {
        width: 50%;
      }
    }

    &.bottom li {
      width: 100%;
    }
  }

  .cart-title {
    text-align: center;
  }

  .cart-table {
    td {
      &.product-cart-info {
        text-align: center;

        .btn-remove {
          position: relative;
        }
      }
    }

    tfoot {
      padding-bottom: 10px;
    }
  }

  .shipping-estimate-wrapper {
    margin-bottom: 20px;
    p strong {
      display: block;
    }
  }

  .summary-wrapper {
    .summary-shipping,
    .cart-totals-wrapper {
      float: none;
    }
    .summary-shipping {
      @include clearfix;

      .shipping-estimate-wrapper {
        text-align: left;
      }
    }
    .method-checkout-cart-methods-onepage-bottom {
      width: 100%;
    }
  }
};

dl.totals-block {
  @include clearfix;
  float: right;
  margin-top: 0;

  dt, dd {
    float: left;
    width: 130px;
    text-align: right;
    line-height: 1.4;
    margin: 3px 0;

    &.totals-strong {
      font-weight: $weight-bold;
    }
  }
  dt {
    clear: left;
  }
}
