.block.block-login {
  .block-title {
    display: none;
  }
  .block-content {
    width: 200px;

    label {
      text-align: left;
      margin-top: 5px;
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }

    .actions {
      margin-top: 10px;

      button {
        width: 50%;
      }
    }
  }
}

a.forgot-password {
  color: $gray-base;
  text-decoration: underline;
  font-size: .75rem;
  padding: .5rem 0 1rem; 
}
.mini-registration-link {
  margin-top: 10px;
  float: right;
  text-align: right;
  font-size: $font-size-smaller;
}

.welcome-msg {
  margin-bottom: 15px;
}

.login-container {
  table{
    tbody {
      td {
        @extend .text-left;
        label {
          margin: 0;
        }
        input {
          width: 100%;
          min-width: 170px;
        }
      }
    }
    tfoot {

      td {
        height: auto;

        &.no-padding-bottom {
          padding-bottom: 0;
        }

        a.signup {
          white-space: nowrap;
          padding-top: 10px;
          font-size: rem-calc(10);
          font-weight: $font-weight-light;
        }
      }
    }
  }
}

.my-account {
  .page-title {
    margin-bottom: 25px;

    h1 {
      @include fs-medium;
      font-weight: $font-weight-bold;
    }
  }

  p {
    margin: 0;
    @include fs-normal;
    font-weight: $font-weight-light;

    .hello {
      font-weight: $font-weight-bold;
    }
  }

  .box-account {
    .box-head {
      display: none;
    }
  }

  form {
    h2.legend {
      display: none;
    }
  }

  .box {
    h2.title {
      // font-size: rem-calc(12);

      span.edit {
        float: right;
        font-size: rem-calc(10);
        font-weight: $font-weight-light;
      }
    }
  }

  .box-account .row {
    margin-bottom: 0;
  }

  table {
    td {
      input {
        @extend .full-width;
      }
    }
  }
}

/* ## Customer Account Navigation ## */
.block.block-account {
  // color: $font-color-default;
  margin-top: 13px;
  padding-right: 30px;

  // .block-title {
  //   font-size: $font-size-medium;
  //   font-weight: $font-weight-bold;
  // }
  //
  // .block-content {
  //   ul {
  //     @extend .unstyled;
  //
  //     li {
  //       a {
  //         @include same-link-style($font-color-default, $gold-base);
  //       }
  //     }
  //   }
  // }
}

.account-login {
  .btn.medium {
    min-width: 220px;
  }
}

i.fa {
  // margin-left: 5px;
}

.orders-table {
  margin-bottom: 15px;

  a.view-order-link {
    @include same-link-style($font-color-default, $orange-base);
  }
}

.order-items.order-details {
  margin-bottom: 20px;
}

#my-orders-table {
  div.product-name {
    margin-top: 10px;
  }

  td.totals-line {
    text-align: right;
    padding-right: 25px;
  }

  .totals-line {
    text-align: right;

    span.totals-price {
      display: inline-block;
      width: 120px;
      padding-right: 25px;
    }

    p.note {
      padding-right: 25px;
      font-size: rem-calc(12);
    }
  }
}

.forgotpassword-container {
  width: 60%;

  @include media('>=phone','<=tablet') {
    width: 100%;
  };
}

#my-orders-table.data-table  {
  tbody td {
    vertical-align: middle;
  }
  .product-qty dl {
    margin: 0;

    dt, dd {
      display: inline-block;
      font-weight: 400;
      margin-bottom: .125rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    dt {
      clear: left;
      text-align: left;
      min-width: 50%;
    }
  }

  tfoot td {
    height: auto;
    padding: .275rem;

    &.totals-label {
      text-align: right;
      padding-right: .5rem;
    }
  }
}
