section {
  &.topics {

    article.topic-element {
      position: relative;
      max-height: 300px;
      margin-bottom: 15px;

      .canvas {
        max-height: 300px;
        overflow: hidden;
      }
      .button-container {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        width: 100%;

        background-color: rgba($white, .6);
        padding: 10px 0;

        a.btn {
          color: $black-base;
          border-color: $black-base;

          &:hover {
            background-color: rgba($white, .8);
          }
        }

        &.btn-centered {
          text-align: center;
        }
        &.btn-left {
          text-align: left;
          padding-left: 20px;
        }
        &.btn-right {
          text-align: right;
          padding-right: 20px;
        }

        .btn {
          width: 185px;
        }
      }

      @include media('<tablet') {
      };
    }
  }
}

#brands-container {
  @include clearfix;

  .brand {
    float: left;
    margin-right: 2%;
    max-width: 180px;

    &:last-child {
      margin-right: 0;
    }
  }
}
