#customer-reviews {
  padding: 15px 0;

  .review-heading h2 {
    font-size: 18px;
  }

  dl {
    dt.a-review-title {
      margin: 15px 0;
      h3 {
        margin-bottom: 0;
        font-weight: $weight-bold;
      }
      p {
        font-size: rem-calc(12);
        line-height: 1.2;
        color: $gray-base;
        margin: 0;
        span {
          // color: $gray-base;
        }
      }
    }
    dd {
      margin: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-lighter-4;

      &:last-child {
        padding: 0;
        border: none;
      }
    }
  }
}

.review-form-box {
  background-color: $gray-lighter-5;
  position: relative;

  fieldset {
    border: none;
    margin: 0;
    padding: 10px;
    padding-bottom: 0;

    ul li {
      margin-bottom: 10px;
    }

    .width-75 {
      width: 75%;
    }
    .width-25 {
      width: 25%;
    }

  }

  @include media('>=phone','<tablet') {
    margin-bottom: 15px;

    h3 {
      margin-bottom: 10px;
    }

    fieldset .width-75,
    fieldset .width-25 {
      width: 100%;
    }
  };

  .buttons-set {
    @include clearfix;
    margin-top: 0;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  @include media('>=phone','<tablet') {
    .buttons-set button {
      width: 100%;
    }
  };
}

.star-rating {
  position: absolute;
  color: $gold-base;
  right: 10px;
  top: 10px;
  text-align: center;
  font-family: 'FontAwesome';

  & > fieldset {
    border: none;
    display: inline-block;

    &:not(:checked) {
      & > input {
        position: absolute;
        /*top: -9999px;*/
        clip: rect(0, 0, 0, 0);
        display: none;
      }
      & > label {
        float: right;
        width: 1em;
        padding: 0 .05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 24px;
        color: $gold-base; // #16a085;
        &:before {
          content: '\f006  ';
        }

        &:hover,
        &:hover ~ label {
          color: $gold-base;
          text-shadow: 0 0 3px $gray-lighter-2;

          &:before {
            content: '\f005  ';
          }
        }
      }
    }

    & > input:checked ~ label:before {
      content: '\f005  ';
    }

    & > label:active {
      position: relative;
      top: 2px;
    }
  }
  div.validation-advice {
    display: none !important;
  }

  @include media('<tablet') {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
    margin: 10px 0;
    width: 100% !important;

    fieldset label {
      margin-left: 6px;

      &:last-child {
        margin-left: 0;
      }
    }
  };
}

.rating {
  padding: 0 10px;
  font-size: 1rem;

  i.fa {
    font-size: rem-calc(20);
    color: $gold-base;
    margin-right: 5px;
  }

  &.star-small {
    padding: 0;

    i.fa {
      font-size: rem-calc(18);
    }
  }

  @include media('>=phone','<tablet') {
    &.overall-rating {
      text-align: center;
    }
  };
}

#rating-total-overview {
  border: none;

  td {
    border: none;
    padding: 0 10px;
    text-align: left;
  }

  @include media('>=phone','<tablet') {
    @include clearfix;
    margin-bottom: 15px;

    td {
      float: left;
      padding: 0 1%;
      width: 20%;

      &.shares-bar {
        width: 60%;
      }
    }
    td:first-child {
      clear: left;
    }
    td:last-child {
      text-align: center;
    }
  };
}

.customerratings-container {
  section {
    margin-bottom: 0;
  }
}

.box-reviews {

  .box-reviews-left,
  .box-reviews-right {
    float: left;
  }

  .box-reviews-left {
    width: 35%;
  }
  .box-reviews-right {
    width: 65%;
  }

  @include media('>=phone','<tablet') {
    .box-reviews-left,
    .box-reviews-right {
      float: none;
      width: 100%;
    }
  };
}
