.form-list .fields {
  .field {
    margin: 5px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &.additional-row {
    margin-top: 20px;
    border-top: 1px solid $gray-lighter-2;
    padding-top: 20px;
  }
}

.add-recipient-wrapper {
  margin: 20px 0 5px;
  text-align: right;
}

.product-info-wrapper {
  padding: 0 10%;
}
