html, body {
	font-size: 14px;
}

body {
	@include tondo-light;
}


.clearfix {
	@include clearfix;
}

.img-responsive {
	max-width: 100%;
}

.full-width {
	width: 100%;
}

.no-padding {
	padding: 0 !important;
}

.unstyled {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
table.unstyled {
	border: none;
}

.uppercase {
	text-transform: uppercase;
}
.new-inner-row {
	padding-left: 0 !important;
}

ul.check-items {
	li:before {
		content: "\2713"; // checkmark code
		margin-right: .4em;
		color: $gold-base;
	}
}

img.scale {
	display: block;
	max-width: 100%;
	height: auto !important;
}

.hide {
		display: none;
}

td.align-middle {
	vertical-align: middle !important;
}
td.align-base {
	vertical-align: baseline !important;
}
td.align-bottom {
	vertical-align: bottom !important;
}

.color-success {
	color: #4F8A10;
}

ul.messages {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;

	li {
		border: 1px solid transparent;
		border-radius: $global-border-radius;
		padding: 5px 10px;

		ul {
			list-style: none;
			padding: 0;
		}

		&.success-msg {
			color: $green-success;
    	border-color: $green-success;
    	// background-color: #DFF2BF;
		}
		&.error-msg {
			color: $red-error;
    	border-color: $red-error;
		}
	}
}

.divider {
	border-top: 1px solid $black-base;
	margin: 1em 0;

	&.white {
		border-color: $white-base;
	}
}

.progress {
	background-color: #fff;
	border-color: $gray-lighter-5;
	border-radius: $border-radius-default;
	padding: 0;

	.meter {
		background: $gold-base;
		border-radius: $border-radius-default;
	}
}

#modal-global {
	position: fixed;
	top: 135px; bottom: 0;
	left: 0; right: 0;
	z-index: 99;
}

.transparent-layer {
	background-color: rgba($white, .6);
}

a {
	color: $black-base;
	@include same-link-style($black-base);
}

#site-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;

	&.show-nav {
		#site-canvas {
			-webkit-transform: translateX(350px);
		  transform: translateX(350px);
		}
	}
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;

  -webkit-transform: translateX(0);
  transform: translateX(0);

	-webkit-transition: .3s ease all;
  transition: .3s ease all;
}

#offcanvas-left-wrapper {
	width: 350px;
  position: absolute;
  top: 0;
	bottom: 0;
  left: -350px;
  background: $black-base;
  padding: 15px;
	z-index: 110;

	a.offcanvas-close {
		padding: .5em 1em;
		font-size: 1.5em;
		color: $white-base;
	}
}

.validation-advice {
	text-align: left;
}

.text-center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.margin-top-0 {
	margin-top: 0 !important;
}

.grey-bg {
	background-color: $grey-base-light !important;
}

.line-through-heading {
	border-top: 1px solid $black-base;
	position: relative;
	height: 2em;

	h1 {
		display: inline-block;
		position: absolute;
    left: 50%;
    top: -.875em;
    transform: translateX(-50%);
    padding: 0 15px;
		background-color: $white-base;
		white-space: nowrap;
	}
}


ul {
	margin-left: .2rem;

	li ul {
		margin-left: .2rem;
	}
}

.no-display {
	display: none;
}

section {
  margin-bottom: $section-margin-bottom;
  h5.section-title {
    width: 100%;
    font-size: 1rem;
    font-weight: normal;

    border-bottom: 1px solid $gray-lighter-2;
    margin-bottom: 1rem;
    padding-bottom: $title-padding-bottom;
  }
}

.btn {
	margin-bottom: 10px;

	&.link-wishlist {
		font-weight: $font-weight-bold;
		padding: .75em 0;
	}
	&.link-addtocart {
		font-size: $font-size-medium;
		font-weight: $font-weight-bold;
		padding: .875em 0;
	}
}

@include media('>=phone','<tablet') {

	table, thead, tbody, tfoot, th, td, tr {
    display: block;
  }

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		// border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
};

.inline-block {
	display: inline-block;
}

.show-small {
	display: block;

	@include media('>=tablet') {
		display: none;
	};
}

@include media('<tablet') {
	.hide-small {
		display: none;
	}
};

.hide-medium-up {
	display: none;
}
@include media('>=tablet') {
	td.hide-medium-up {
		display: table-cell;
	}
	div.hide-medium-up {
		display: block;
	}
	span.hide-medium-up {
		display: inline;
	}
};

@include media('>=phone','<tablet') {
  .line-through-heading h1 {
		font-size: $font-size-medium;
		top: -1.15em;
		padding: 0 10px;
	}
};

ul.list-style-checkmark {
	li {
		list-style: none;

		&:before {
			content: '';
			display: inline-block;
		  height: .875em;
		  width: .875em;
		  background: url('../images/icons/icon-check-black.svg') center no-repeat;
			background-size: contain;
			margin-right: 5px;
		}
	}
}
