
@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

@mixin fs-normal {
  font-size: $font-size-normal;
  line-height: rem-calc(22px);
}

@mixin fs-medium {
  font-size: $font-size-medium;
  line-height: rem-calc(28px);
}

@mixin same-link-style($color, $hover-color: $color) {

  &:hover, &:active, &:link, &:visited {
    color: $color;
    text-decoration: none;
  }
  &:hover {
      cursor: pointer;
      color: $hover-color;
  }
}

@mixin btn-size-default {
  line-height: 32px;
}

// Mixins
@mixin tondo-light {
  font-family: $font-family-base;
  font-weight: $font-weight-light;
}

@mixin tondo-regular {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
}

@mixin tondo-bold {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
}
