/*
	Horsebrands Shop Bootstrap Sass Theme
	Author: Dennis Niederrainer
	Version: 0.0.1
*/

@import "compass";
@import "vendor/normalize";

@import "vendor/foundation/components/global";
@import "vendor/foundation/components/grid";
@import "vendor/fontawesome/font-awesome";

/* BASE */

@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/base';

/* MODULES */

@import 'modules/typography';
@import 'modules/blocks';
@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/components';
@import 'modules/sections';
@import 'modules/menu';
@import 'modules/products';
@import 'modules/checkout';
@import 'modules/customer';

/* LAYOUTS */

@import 'layouts/grid';
@import 'layouts/nav';
@import 'layouts/header';
@import 'layouts/footer';
// @import 'layouts/sidebar'

/* VENDOR */

@import 'vendor/sequencejs/sequence-theme.showcase';

body {
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	color: $font-color-default;
}
