@import "../vendor/foundation/functions";

$button-black: $black-base;
$button-black-gradient: #313030;

$button-gold: $gold-base;
$button-gold-gradient: #f6b45e;

$button-gray: $gray-base;
$button-gray-gradient: #797979;

$white: #fff;
$button-border-radius: 5px;

// Mixins
@mixin button-states-color($base, $lighter) {
  @include background-image(linear-gradient($lighter 0%, $lighter 50%, $base 50%, $base 100%));

  &:hover {
    @include background-image(linear-gradient($base 0%, $base 50%, $lighter 50%, $lighter 100%));
  }
  &:active {
    background: none;
    background-color: $base;
  }
}

@mixin button-states-transparent($base, $hover, $active, $hover-bg: transparent) {
  border: $base solid 1px;

  &:hover {
    border-color: $hover;
		background-color: $hover-bg;
  }
  &:active {
    border-color: $hover;
    background-color: $active;
  }
}

a.button,
button {
	color: $white;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border: transparent solid 0px;
	border-radius: $button-border-radius;
  padding: 2px 6px 3px;
  font-size: 14px;
  line-height: 22px;

	@include button-states-color($black-base, $black-lighter);

	&.gold {
		@include button-states-color($gold-base, $gold-lighter);
	}
	&.gray {
		@include button-states-color($gray-base, $gray-lighter-1);
	}

  &.white {
    border: 1px solid $black-base;
    background: none;
    background-color: $white-base;
    color: $black-base;
    @include same-link-style($black-base, $white-base);

    &:hover {
      color: $white-base;
      background-color: $black-base;
    }
  }

	&.transparent {
		&.background-bright {
			@include button-states-transparent($gray-base, $black-base, #f6f6f6);
		}
		&.background-colored {
			@include button-states-transparent($white, $white, rgba($black-base, 40), rgba($white, 20));
		}
		&.background-dark {
			@include button-states-transparent($white, $white, #3c3c3b, #878787);
		}
	}

  &.height-m {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &.height-l {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.width-m {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.width-l {
    padding-left: 30px;
    padding-right: 30px;
  }
}

a.button {
	@include same-link-style($white);
	cursor: pointer;
}

.button {
  &.large {
    min-width: 15em;
    line-height: 2.2em;
  }
}

$padding-store-select	: rem-calc(10);
$black: #1d1d1d;

@mixin button-size($padding, $width-factor: 2) {
	padding: $padding ($padding * $width-factor) ($padding + rem-calc(1)) ($padding * $width-factor);
}

.btn {
	display: inline-block;
	text-align: center;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: $button-border-radius;
	text-decoration: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	font-size: $font-size-normal;
	padding-left: 1em;
	padding-right: 1em;
	color: $white;

	&.small {
		font-size: $font-size-smaller;
		padding: $padding-height-small 2rem;
	}

	&.small-height {
		padding-top: $padding-height-small;
		padding-bottom: $padding-height-small;
	}
	&.small-font-size {
		font-size: rem-calc(12);
	}


	&.medium {
		@include fs-normal;
		line-height: 2.5em;
		font-weight: $font-weight-base;
	}

	&.large {
		font-size: rem-calc(18);
		font-weight: $font-weight-base;
		padding: .65rem 2rem;
	}

	&.wide {
		padding-left: 3em;
		padding-right: 3em;
	}

	&.btn-transparent {
		border: 1px solid;

		&.white {
			border-color: $white;
      color: $white-base;

      &:hover {
        background-color: rgba($white, .2);
      }
		}
		&.gray {
			border-color: $teaser-title-color;
			color: $teaser-title-color;

			&:hover {
				border-color: $black-base;
				color: $black-base;
			}
		}
	}

	&.orange {
		@include background-image(linear-gradient($orange-grad 0%, $orange-grad 50%, $orange-base 50%, $orange-base 100%));
	}
	&.gray-light {
		@include background-image(linear-gradient(tint($gray-lighter-2, 20%) 0%, tint($gray-lighter-2, 20%) 50%, $gray-lighter-2 50%, $gray-lighter-2 100%));
	}
	&.black {
		@include background-image(linear-gradient($black-base 0%, $black-base 100%)); //, $orange-base 50%, $orange-base 100%
	}

	&.filter-dropdown {
		position: relative;
		z-index: 5;
		color: $font-color-default;
		background: $gray-lighter-6;

		.filter-dropdown-content {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			border-top: 1px solid $gray-lighter-3;
			@include box-shadow(inset 0 0 10px $gray-lighter-2);

			ul li {
				background: $gray-lighter-6;
				padding: $padding-height-small 0;

				a, a:visited, a:focus, a:link {
					color: $font-color-default;
					text-decoration: none;

					&:hover {
						color: $gold-base;
					}
				}
			}
		}
	}

	&.continue-reading.vertical {
		@extend .expand;

		padding-bottom: 4px;
		font-size: $font-size-smaller;
		text-align: center;
		color: $gray-lighter-3;
		@include box-shadow(inset 0 -10px 30px -15px $gray-lighter-2);
	}
}

.btn-gold {
  color: $white-base !important;
  @include button-states-color($gold-base, $gold-lighter);
}
.btn-gray {
  color: $black-base;
  @include button-states-color($gray-base, $gray-lighter-1);
}
.btn-gray-light {
  @include button-states-color($gray-lighter-3, $gray-lighter-4);
}

.selected-filter-wrapper {
	margin-bottom: .75rem;
	padding-left: calc(0.9375rem / 2);
  padding-right: calc(0.9375rem / 2);

	a.btn.btn-transparent.gray-light {
		position: relative;
		border-width: 1px;
		padding: 2px 2rem;
		color: $gray-base;
		font-size: $font-size-small;
    background: none;

		i {
			position: absolute;
			right: 5%;
			top: 48%;
			transform: translateY(-50%);
		}

		&:hover {
			border-color: $gray-base;
			color: $gray-base;
		}
	}
}

.expand {
	display: block;
	width: 100%;
}

.no-radius {
	border-radius: 0;
}

.button {
	display: inline-block;

	color: $white;
	text-align: center;
}

a.store-button {
	font-size: rem-calc(20);
	margin-right: 5px;
  padding: 4px 15px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: $global-border-radius;
	@include same-link-style($black-base);

	&.active,
  &:hover {
    border-color: $black-base;
	}
}

.store-select-button {
	@extend .button;
	// @include button-size($padding-store-select, 4);
	height: 46px;
	width: 151px;
	line-height: 46px;
	text-align: center;
	font-size: rem-calc(18);
	font-weight: $font-weight-light;
	text-transform: uppercase;

	&.shop-button{
		background-color: $orange-base;
		margin-right: .5rem;
	}
	&.deals-button{
		background-color: $gray-lighter-4;
		color: $black-base;
		position: relative;

		span.label {
			position: absolute;
			right: -25%;
		}
	}
}

.btn-size-medium {
  padding: .5em 3em;
}
