

.checkout-onepage-index {
	// test
	.container {
		max-width: 968px;
	}

	.col-right.sidebar {
		display: none;
	}
}

.cart-table {
    td.product-qty {
      input {
        width: 45px;
        text-align: center;
      }
    }
}


// ## Progress Bar ##
.opc-block-progress {
  margin-bottom: 48px;

  ul {
    font-size: $font-size-smaller;
    font-weight: $font-weight-light;
    text-align: center;

    li {
      background-color: $gray-lighter-3;
      padding: .5em 0;

      &.active {
        background-color: $gray-lighter-2;
      }
      &.step-login {
        color: #00823c;
      }
    }
  }
}

// ## Login ##
#checkoutSteps {
  position: relative;

  .step-title {
    position: absolute;
    top: 0;
    width: 25%;
    background-color: $gray-lighter-6;
    color: $gray-base;

    .number { display: none; }
    a  {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include same-link-style($white);
      cursor: not-allowed !important;
    }

    h2 {
      font-size: $font-size-normal;
      font-weight: normal;
      text-align: center;
    }
  }

  li.section {
    &.active {
      .step-title {
        background-color: $gray-lighter-4;
      }
    }
    &.allow {
      a {
        cursor: pointer !important;
      }
    }
  }

  &.opc-firststep-billing {
    #opc-billing .step-title {
      left: 25%;
    }
    #opc-shipping .step-title {
      left: 20%;
      display: none;
    }
    #opc-shipping_method .step-title {
      left: -9999px;
    }
    #opc-payment .step-title {
      left: 50%;
    }
    #opc-review .step-title {
      left: 75%;
    }
  }

  .step.a-item {
    padding-top: 75px;
  }

	div.kv {
		font-weight: $font-weight-light;
	}
  label {
    font-size: 1rem;
		font-weight: $font-weight-light;

    &.note {
      line-height: 1.2;
      span {
        display: block;
        font-size: $font-size-small;
      }
    }

    &.checkbox {
      @include clearfix;
      font-size: $font-size-small;
      display: block;
      position: relative;
      padding-left: 15px;
      line-height: 1.2;

      input {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  // input[type="text"], input[type="password"] {
  //   @extend .full-width;
  // }

  p.note {
    margin: 0;
  }

  .buttons-set {
    margin-bottom: 20px;
    clear: both;

    button {
      line-height: 32px;
      min-width: 200px;
    }
  }

	@include media('>=phone','<desktop') {
		.buttons-set button.opc-back-button  {
	    color: $black-base;
			background: none;
			min-width: 0px;
	  }
	};
}

#checkout-step-billing {
  .row {
    position: relative;
  }
}

#checkout-shipping-method-load {
  dd {
    margin: 0;
  }
  ul {
    @extend .unstyled;
    li {
      span {
        float: left;
        width: 2%;
      }
      label {
        float: left;
        width: 98%;
        font-size: $font-size-smaller;
        span {
          float: right;
          font-size: 1em;
          width: auto;
        }
      }
    }
  }
}

#checkout-payment-method-load {
  dt {
    span {
      float: left;
      width: 2%;
    }
    label {
      float: left;
      width: 98%;
      font-size: $font-size-normal;
    }
  }
}

#checkout-review-table {
  margin-bottom: 10px;
}
#review-buttons-container {
  .btn-checkout {
    @extend button.gold;
    float: right;
  }
}

span.count {
  color: $black-base;
  padding-left: 8px;
}
.minicart-dropdown {
  width: 400px;
  padding: 0;
}
.minicart-wrapper {
  h2.block-title {
    font-size: $font-size-medium;
		font-weight: 500;
    margin: 0 0 15px;
    text-align: center;
  }

  .right-col {
    width: 70%;
    float: right;
  }

  .block-content {
    @include clearfix;
    border-top: 1px solid $black-base;
    padding: 20px 0;
    text-align: right;

    .right-col {
      span {
        font-weight: 700;
        &.mini-cart-totals-label {
          display: inline-block;
          float:left;
        }
        &.mini-cart-totals-value {
          display: inline-block;
          min-width: 100px;
          float: right;
        }
      }
      p.note {
        clear: both;
        font-size: rem-calc(10);
      }
    }
  }
}

.same-as-billing-container {
	input {
		margin-left: 10px;
		margin-right: 5px;
	}
	label {
		display: inline-block;
	}
}

#same-as-billing-text {
	margin: 0;
}

#cart-sidebar {
  @extend .unstyled;

  li.item {
    @include clearfix;
    border-bottom: 1px solid $gray-lighter-2;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    .product-image-wrapper {
      float: left;
      width: 30%;
      padding-right: 10px;
    }
    .product-details {
      float: right;
      position: relative;
      width: 70%;
      text-align: left;
      font-size: $font-size-normal;
      line-height: 1.4;

      .item-options {
        line-height: 18px;
        dt {
          float: left;
          clear: left;
          min-width: 75px;
        }
        dd {
          float: left;
          margin-left: 0;
        }
      }

      .remove-item-wrapper {
        position: absolute;
        right: 0;
        top: 0;

        a {
          @include same-link-style($black-base);
        }
      }

      .price-wrapper {
        line-height: 18px;
        position: absolute;
        right: 0;
        bottom: 0;

        .price-incl {
          font-weight: 700;
        }
      }
    }
  }
}

#checkoutSteps {
	.checkout-payment-method-wrapper {
		@include box-shadow(0 0 2px $gray-lighter-3);
		margin: 10px 0;
		padding: 10px;

		input[type="radio"] {
			margin-right: 10px;
		}
		label.method-title {
			display: inline-block;
			font-weight: 700;
			font-size: $font-size-medium;
			line-height: 24px;
			min-width: 175px;
		}
		.icon-paymentmethod img {
			max-width: 80px;
		}

		ul {
			list-style: none;
		}
	}
}
.payment-method-input-wrapper {
	margin-top: 10px;
}

#dd_method_ops_cc,
#dd_method_ops_directDebit {
	@include clearfix;

	fieldset {
		border: none;
	}
}

#dd_method_ops_cc li.insert_payment_details,
#dd_method_ops_directDebit li {
	@include clearfix;

	border: none;
	background-color: $white-base;
	margin-bottom: 10px;

	label {
		float: left;
		clear: left;
		width: 12%;
		min-width: 130px;
	}
	select,
	input {
		float: left;
		width: 30%;
		min-width: 260px;
		background-color: $white-base;
	}

	#ops_cc_loader {
		clear: both;
		text-align: left;
	}
}

#ops_iframe_ops_cc {
	#payment-container,
	#payment-form-container,
	#payment-data-container {
		margin: 0;
		padding: 0;
	}
}

#checkout-review-table {

	@include media('>=tablet') {
		td.product-details {
			text-align: left;
		}
	};
	@include media('>=phone','<tablet') {
		td {
			&.product-details {
				padding-bottom: 0;
			}
			&.product-attributes,
			&.product-qty {
				padding-top: 0;
				padding-bottom: 0;
			}

			&.footer-icon {
				display: none;
			}
		}
	};
}

.review-container {
	.opc-sidebar-block,
	.order-review {
		padding: 0 10px;
	}

	.opc-sidebar-block {
		width: 25%;
		float: left;
	}
	.order-review {
		width: 75%;
		float: right;
	}

	@include media('>=phone','<desktop') {
		.opc-sidebar-block,
		.order-review {
			width: 100%;
		}

		#review-buttons-container button {
			width: 100%;
			margin-top: 20px;
		}
	};
}
