.checkout-onepage-index {
	// test
	.container {
		max-width: 968px;
	}

	.col-right.sidebar {
		display: none;
	}
}

.cart-table {
    td.product-qty {
      input {
        width: 45px;
        text-align: center;
      }
    }
}

.savedAmount {
	margin: 1rem 0 .5rem;
	p {
		font-weight: 600;
		font-style: italic;
	}
}

// ## Progress Bar ##
.opc-block-progress {
  margin-bottom: 48px;

  ul {
    font-size: $font-size-smaller;
    font-weight: $font-weight-light;
    text-align: center;

    li {
      background-color: $gray-lighter-3;
      padding: .5em 0;

      &.active {
        background-color: $gray-lighter-2;
      }
      &.step-login {
        color: #00823c;
      }
    }
  }
}

// ## Login ##
#checkoutSteps {
  position: relative;

  &.opc-firststep-billing {
    #opc-billing .step-title {
      left: 25%;
    }
    #opc-shipping .step-title {
      left: 20%;
      display: none;
    }
    #opc-shipping_method .step-title {
      left: -9999px;
    }
    #opc-payment .step-title {
      left: 50%;
    }
    #opc-review .step-title {
      left: 75%;
    }
  }

  .step.a-item {
    padding-top: 75px;
  }

	div.kv {
		font-weight: $font-weight-light;
	}
  label {
    font-size: 1rem;
		font-weight: $font-weight-light;

    &.note {
      line-height: 1.2;
      span {
        display: block;
        font-size: $font-size-small;
      }
    }

    &.checkbox {
      @include clearfix;
      font-size: $font-size-small;
      display: block;
      position: relative;
      padding-left: 15px;
      line-height: 1.2;

      input {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  // input[type="text"], input[type="password"] {
  //   @extend .full-width;
  // }

  p.note {
    margin: 0;
  }

	@include media('>=phone','<desktop') {
		.buttons-set button.opc-back-button  {
	    color: $black-base;
			background: none;
			min-width: 0px;
	  }
	};
}

.checkout-progress {
	@include clearfix;

	list-style: none;
	margin-left: 0;

	li {
		float: left;
		width: 25%;
	}
}


.progress-step {
	background-color: $gray-lighter-6;
  color: $gray-base;
	position: relative;

	h2 {
    font-size: $font-size-normal;
    font-weight: normal;
    text-align: center;
  }

	a  {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		@include same-link-style($white);
	}

	&.active {
		background: none;
		background-color: $gray-lighter-4;
	}
	&.complete {
		background: url('../images/icons/icon-check-green.svg') 90% no-repeat;
		background-size: 15px;
		background-color: $gray-lighter-6;
	}
}

dl.sp-methods {
	padding: 0 10px;

	dt, dd {
		text-align: left;
	}

	dd label {
		width: 100%;

		span.price {
			float: right;
		}
	}
}

.buttons-set {
	@include clearfix;

	margin-bottom: 20px;
	clear: both;

	button {
		line-height: 32px;
		min-width: 200px;

		&.opc-next-button,
		&.btn-checkout {
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: .05em;
		}
	}
}

#checkoutSteps {
  position: relative;

  .step-title {
    position: absolute;
    top: 0;
    width: 25%;
    height: 3rem;

		.progress-line {
			position: absolute;
			top: 50%; left: 0; right: 0;
			transform: translateY(-50%);
			border-color: $gray-lighter-3;
			border-top-width: 2px;
			margin: 0;
			z-index: -1;

			&.progress-line__before {
				right: 50%;

				&.first {
					display: none;
				}
			}
			&.progress-line__after {
				left: 50%;

				&.last {
					display: none;
				}
			}
		}

		.step-title__label {
			display: inline-block;
			position: absolute;
			top: 20%; left: 50%;
			transform: translate(-50%, 0);
			text-align: center;

			// .icon-complete {
			// 	display: none;
			// 	position: absolute;
			// 	top: 50; left: 50%;
			// 	transform: translate(-50%, -50%);
			// }
		}

		.number {
			position: relative;
			margin: 0 auto;
			background-color: #fff;
			color: $gray-lighter-3;
			border: 2px solid $gray-lighter-3;
			border-radius: 180%;
			height: 2rem; width: 2rem; line-height: 1.8rem;
			text-align: center;
			font-weight: 600;
		}
    a  {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include same-link-style($white);
    }

    h2 {
	    font-size: 1rem;
	    font-weight: normal;
			color: $gray-lighter-3;
			margin: 0;
    }
  }

  li.section {
		&.complete {
			.step-title__label {
				.number {
					// .icon-complete {
					// 	display: block;
					// }
					span { display: none; }
					border-color: $gold-base;
					color: $gold-base;
					background: url('../images/icons/icon-check-gold.svg') center no-repeat;
					background-size: 65%; background-color: $white-base;
				}
				h2 {
					color: $gold-base;
				}
				a {
					cursor: pointer !important;
				}
			}
			.progress-line__after, .progress-line__before {
				border-color: $gold-base;
			}
		}
		&.allow {
		}
    &.active {
			.progress-line__before {
				border-color: $gold-base;
			}
			.step-title__label {
				.number {
					border-color: $gold-base;
					background-color: $gold-base;
					color: $white-base;
				}
				h2 {
					color: $gold-base;
				}
			}
    }
  }
}

#checkout-step-billing {
  .row {
    position: relative;
  }
}

#checkout-shipping-method-load {
  dd {
    margin: 0;
  }
  ul {
    @extend .unstyled;
    li {
      span {
        float: left;
        width: 2%;
      }
      label {
        float: left;
        width: 98%;
        font-size: $font-size-smaller;
        span {
          float: right;
          font-size: 1em;
          width: auto;
        }
      }
    }
  }
}

#checkout-payment-method-load {
  dt {
    span {
      float: left;
      width: 2%;
    }
    label {
      float: left;
      width: 98%;
      font-size: $font-size-normal;
    }
  }
}

#checkout-review-table {
  margin-bottom: 10px;
}
#review-buttons-container {
  .btn-checkout {
    @extend button.gold;
    float: right;
  }
}

span.count {
  color: $black-base;
  padding-left: 8px;
}
.minicart-dropdown {
  width: 400px;
  padding: 0;
}
.minicart-wrapper {
  h2.block-title {
    font-size: $font-size-medium;
		font-weight: 500;
    margin: 0 0 15px;
    text-align: center;
  }

  .right-col {
    width: 70%;
    float: right;
  }

  .block-content {
    @include clearfix;
    border-top: 1px solid $black-base;
    padding: 20px 0;
    text-align: right;

    .right-col {
      span {
        font-weight: 700;
        &.mini-cart-totals-label {
          display: inline-block;
          float:left;
        }
        &.mini-cart-totals-value {
          display: inline-block;
          min-width: 100px;
          float: right;
        }
      }
      p.note {
        clear: both;
        font-size: rem-calc(10);
      }
    }
  }
}

.same-as-billing-container {
	input {
		// margin-left: 10px;
		margin-right: 5px;
	}
	label {
		display: inline-block;
	}
}

#same-as-billing-text {
	margin: 0;
}

#cart-sidebar {
  @extend .unstyled;

  li.item {
    @include clearfix;
    border-bottom: 1px solid $gray-lighter-2;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    .product-image-wrapper {
      float: left;
      width: 30%;
      padding-right: 10px;
    }
    .product-details {
      float: right;
      position: relative;
      width: 70%;
      text-align: left;
      font-size: $font-size-normal;
      line-height: 1.4;

			.product-manufacturer-name {
				font-weight: 500;
			}
      .item-options {
        line-height: 18px;
				dt, dd {
					margin: 0;
					line-height: 1.4;
				}
        dt {
          float: left;
          clear: left;
          min-width: 75px;
					font-weight: 500;
        }
        dd {
          float: left;
          margin-left: 0;
        }
      }

      .remove-item-wrapper {
        position: absolute;
        right: 0;
        top: 0;

        a {
          @include same-link-style($black-base);
        }
      }

      .price-wrapper {
        line-height: 18px;
        position: absolute;
        right: 0;
        bottom: 0;

        .price-incl {
          font-weight: 700;
        }
      }
    }
  }
}

.overview-items {
	margin-top: 20px;
}

.item-table-title {
	h2 {
		font-size: 18px;
	}
}

tfoot.multi-totals {
	tr td {
		height: auto;
		padding: 0;
		padding-bottom: 5px;
	}
}

.grandtotal-wrapper {
	margin-bottom: 30px;

	.totals {
		float: right;

		span.totals-price {
			display: inline-block;
			min-width: 90px;
		}
	}
}

.checkout-payment-method-wrapper {
	@include box-shadow(0 0 2px $gray-lighter-3);
	margin: 10px 0;
	padding: 10px;

	input[type="radio"] {
		margin-right: 10px;
	}
	label.method-title {
		display: inline-block;
		font-weight: 700;
		font-size: $font-size-medium;
		line-height: 24px;
		min-width: 175px;
	}
	.icon-paymentmethod img {
		max-width: 80px;
	}

	ul {
		list-style: none;
	}
}

.payment-method-input-wrapper {
	margin-top: 10px;
}

#dd_method_ops_cc,
#dd_method_ops_directDebit {
	@include clearfix;

	fieldset {
		border: none;
	}
}

#dd_method_ops_cc li.insert_payment_details,
#dd_method_ops_directDebit li {
	@include clearfix;

	border: none;
	background-color: $white-base;
	margin-bottom: 10px;

	label {
		float: left;
		clear: left;
		width: 12%;
		min-width: 130px;
	}
	select,
	input {
		float: left;
		width: 30%;
		min-width: 260px;
		background-color: $white-base;
	}

	#ops_cc_loader {
		clear: both;
		text-align: left;
	}
}

#ops_iframe_ops_cc {
	#payment-container,
	#payment-form-container,
	#payment-data-container {
		margin: 0;
		padding: 0;
	}
}

#checkout-review-table {

	@include media('>=tablet') {
		td.product-details {
			text-align: left;
		}
	};
	@include media('>=phone','<=tablet') {
		td {
			&.product-details {
				padding-bottom: 0;
			}
			&.product-attributes,
			&.product-qty {
				padding-top: 0;
				padding-bottom: 0;
			}

			&.footer-icon {
				display: none;
			}
		}
	};
}

.review-container {

	.opc-sidebar-block,
	.order-review {
		padding: 0 10px;
	}

	.opc-sidebar-block {
		width: 25%;
		float: right;
	}
	.order-review {
		width: 75%;
		float: left;
	}

	@include media('>=phone','<desktop') {
		.opc-sidebar-block,
		.order-review {
			width: 100%;
		}

		#review-buttons-container button {
			width: 100%;
			margin-top: 20px;
		}
	};
}

.payment-method-input-wrapper {
	fieldset {
		border: none;
	}
	p {
		margin-bottom: 10px;
	}
	dt {
		float: left;
		min-width: 120px;
		margin-bottom: 0;

		label {
			width: 100%;
			margin-bottom: 0;
		}
	}
	dd {
		margin-bottom: 0;
	}
}

.bankaccount-progress-wrapper {
	p {
		font-size: $font-size-smaller;
	}
	dl {
		dt,
		dt label,
		dd {
			font-size: $font-size-smaller;
			margin: 0;
		}
	}

	dd {
		margin-bottom: 8px;
	}
}

.grand_total_overview {
	padding: 0 10px;

	dl.totals-block {
		@include box-shadow(0 0 2px $gray-lighter-3);
    margin: 0 0 2rem;
    padding: 10px;
	}
}
