
input[type="text"], input[type="password"], input[type="email"], textarea {
	border: 1px solid $gray-lighter-5;
	border-radius: $border-radius-default;
	padding: $padding-height-small;

	&.validation-failed {
		border-color: $failed-red;
	}
}

div.validation-advice {
	font-size: $font-size-small;
	color: $failed-red;
}

ul {
	&.same-width {
		li {
			@for $i from 1 through 6 {
				&:first-child:nth-last-child(#{$i}),
				&:first-child:nth-last-child(#{$i}) ~ li {
					$width: (100 - $i);
					width: calc(#{$width}% / #{$i});
					text-align: center;
				}
			}
		}
	}

	&.same-width-full {
		@include clearfix;

		li {
			@for $i from 1 through 6 {
				&:first-child:nth-last-child(#{$i}),
				&:first-child:nth-last-child(#{$i}) ~ li {
					width: calc(100% / #{$i});
					text-align: center;
					float: left;
				}
			}
		}
	}

	&.inline {
		li {
			display: inline-block;
		}
	}
}

.input-group {
	display: table;
	width: 100%;
	border: 1px solid #b1b2b2;
	border-radius: $global-border-radius;
	background-color: $grey-base-light;
	padding-right: 10px;

	> * {
		color: $grey-base;
		border-radius: $global-border-radius;
	}

	.input-group-label,
	.input-group-field,
	.input-group-button {
		display: table-cell;
		margin: 0;
		vertical-align: middle;
	}
	.input-group-label {
		text-align: center;
	    width: 1%;
	    height: 100%;
	    padding: 0 1rem;
	    // background: #e6e6e6;
	    // color: #0a0a0a;
	    border: 1px solid $gray-lighter-2;
	}
	.input-group-field {
		height: 1.75rem;
		width: 100%;
		padding: 0 1rem;
		border: none;
		background: transparent;

 		&:focus {
			outline: none;
		}
	}
	.input-group-button {
		height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
	}
}

article.teaser-element {
	.canvas {
		position: relative;

		.crop-height {
			max-height: 300px;
			overflow: hidden;

			img.scale {
				max-width: $grid-width;
			}
		}

		p {
			@extend .unstyled;

			position: absolute;
			bottom: 0;
			width: 100%;

			transition: visibility;
			visibility: hidden;

			padding: $padding-height-medium 2%;
			text-align: center;
			color: $black-base;
			background-color: rgba(255,255,255,.8);
		}
	}

	.title,
	.btn-container {
		text-align: center;
		background-color: $teaser-btn-background;
		color: $teaser-title-color;

		padding: $padding-height-medium;
	}

	.btn-container {
		&:hover {
			background-color: $teaser-btn-background-hover;
			cursor: pointer;
		}
	}

	&:hover {
		.canvas p {
			visibility: visible;
		}
	}
}

#teaser {
	.lower-teaser {
		margin: 1rem 0;
	}
}

.box .content {
	address, p, dl dt, dl dd {
		font-size: $font-size-smaller;
		font-weight: normal;
		font-style: normal;
	}

	dl dt {
		font-weight: 600;
	}
}

.box {
	color: $black-base;
	border: 1px solid $gray-lighter-6;
	margin: 0 0 1rem 0;
	font-size: $font-size-box-header;

	.box-title {
		@include clearfix;
		background-color: $gray-lighter-6;
		padding: 2px $box-padding;

		h3 {
			float: left;
			margin: 0;
		}
		a {
			float: right;
			@include same-link-style($font-color-default, $gold-base);
		}
	}

	// content {
	// 	@include box-shadow(inset 0 0 10px $gray-lighter-5);
	// 	padding: $box-padding;
	// 	min-height: 60px;
	//
	// 	address {
	// 		@include fs-normal;
	// 		font-weight: $font-weight-light;
	// 		font-style: normal;
	// 	}
	// }

	h2.title {
		margin: 0;
		font-size: $font-size-normal;
		font-weight: $font-weight-bold;
		background-color: $gray-lighter-6;
		padding: $box-padding;

		i {
			padding: 0 5px;
		}
	}

	div.content {
		@include box-shadow(inset 0 0 10px $gray-lighter-5);
		padding: $box-padding;

		address, p, dl dt, dl dd {
			font-size: $font-size-smaller;
			font-weight: normal;
			font-style: normal;
		}
		// font-size: $box-content-font-size;
	}

	&.newsletter-box {
		.content {
			padding: 0;
			position: relative;
			overflow: hidden;
			max-height: 120px;

			.newsletter-discount {
				float: left;
				width: 30%;
				height: 105px;

				.circle {
					position: absolute;
					top: -25px;
					left: $box-padding;

					width: 180px;
					height: 180px;
					border-radius: 100px;
					background-color: #f7aa4e;
					text-align: center;
					transform: rotate(-10deg);

					text-transform: uppercase;
					font-size: rem-calc(17);
					font-weight: $font-weight-bold;

					// @include background-image(radial-gradient(center top, circle cover, lighten($orange-base, 30%), $orange-base));
					@include background-image(linear-gradient(top, $gold-grad 0%, $gold-base 100%));

					div {
						display: table-cell;
						vertical-align: middle;

						span {
							font-size: rem-calc(76);
							color: $white;
						}
					}
				}
			}

			.newsletter-text {
				width: 70%;
				float: left;
				padding: $box-padding;

				.title {
					text-transform: uppercase;
					font-size: rem-calc(26);
					font-weight: $font-weight-bold;
					letter-spacing: 1px;
				}

				.desc {
					font-size: rem-calc(11);
					line-height: 1.2;
				}

				form#newsletter-subscribe {
					margin-top: 1rem;
					input {
						width: 60%;
						margin-right: .5rem;
					}
				}
			}
		}
	}

	&.customer-service-box {
		@include clearfix;

		.customer-service-text {
			width: 75%;
			padding: $box-padding;
			float: left;

			p {
				margin: 0;
				font-size: $font-size-normal;
			}
		}
		.customer-service-icon {
			float: right;
			width: 25%;
			height: 76px;
			background: url('../images/icons/free_service.png') no-repeat;
			background-size: 100%;
		}
	}
}

table {
	width: 100%;
	border: 2px solid $gray-lighter-6;
	border-collapse: separate;

	thead {
		background-color: $table-border-color-default;
		th {
			font-size: rem-calc(13);
			font-weight: $font-weight-bold;
			padding: .2em 0;
			border-left: 2px solid $white;
			text-align: center;
			color: $gray-base;
			background-color: $gray-lighter-6;

			&.text-left-indent {
				text-align: left;
				padding-left: 5%;
			}

			&:first-child {
				border-left: none;
				text-align: left;
				padding-left: 30px;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom: 1px solid $gray-lighter-6;
			}
			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}
	}

	td {
		font-size: rem-calc(12);
		font-weight: $font-weight-light;
		text-align: center;
		vertical-align: top;
		padding: 10px 5px;

		&.text-left {
			text-align: left;
		}
		&.text-right {
			text-align: right;
		}
	}

	tfoot {
		tr {
			td {
				vertical-align: baseline;
				height: 100px;
			}
			&:first-child {
				td {
					border-top: 1px solid $black-base;
				}
			}
		}
	}

	@include media('>=tablet') {
		border-top: none;
	};
}

p.note {
	margin: 0;
	font-size: rem-calc(11);
	font-weight: $font-weight-light;
	line-height: 12px;
}

.dropdown {
	position: relative;
	display: inline-block;

	.dropdown-content {
		display: none;
		position: absolute;
	}

	&:hover .dropdown-content {
		display: block;
	}
}


input.checkbox {
	&.besides {
		float: left;
		margin-top: 5px;
	}
}

div.cb-text {
	margin-left: 20px;
}
