
div.kv {
  @include clearfix;
  font-size: 1rem;
  font-weight: $font-weight-base;
  margin-bottom: 10px;

  div.key {
    float: left;
    width: 30%;
  }
  div.value {
    float: left;
    width: 70%;
    padding-left: 3%;
  }
}

p.required {
  font-size: $font-size-small !important;
}

label {
  display: block;
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 1rem;

  > * {
    font-weight: 300;
  }

  span {
    display: block;
    font-size: $font-size-smaller;
  }
}

ul {
  list-style: circle;
}

select {
  @include appearance(none);
  border: 1px solid $gray-lighter-2;
  border-radius: $border-radius-default;
  width: 100%;
  padding: 2px 15px;
  background: url('../images/icons/chevron-down.svg') 96% center no-repeat;
  background-size: 15px;

  &:hover {
    border: 1px solid $gray-base;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
}

.input-container {
  &.label-aside {
    .input-block {
      @include clearfix;
      margin: 5px 0;

      label,
      input {
        float: left;
      }

      label {
        width: 25%;
        line-height: 2em;

        &.note {
          line-height: 1.4em;
          span {
            font-size: $font-size-small;
          }
        }
      }
      input {
        width: 75%;
        line-height: 1.6em;
      }

      &.checkbox {
        .right-col {
          width: 75%;
          float: right;
        }

        label {
          width: 92%;
        }
        input {
          width: 8%;
          margin: 5px 0;
        }
      }
    }
  }

  .buttons-container {
    margin-top: 10px;
  }
}

.block-login .input-block.checkbox {
  @include clearfix;
  margin: 10px 0;

  label {
    float: right;
    width: 92%;
    margin-top: 0 !important;
  }
  input {
    float: left;
    width: 8%;
    margin: 5px 0;
  }
}

.smaller {
  font-size: $font-size-smaller !important;
}

a.condition {
  font-weight: normal;
  &:hover {
    color: $gold-base;
  }
}
