
ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: table-cell;
		vertical-align: middle;
		line-height: 1.75rem;
		font-size: 1rem;

		a {
			display: block;
			padding: 5px 1.5rem;
			line-height: 30px;
			color: inherit;
			text-transform: none;
			text-decoration: inherit;

			cursor: pointer;

			&:first-child {
				padding-left: 0;
			}

			&:hover, &:active, &:link, &:focus {
				color: inherit;
				text-decoration: inherit;
			}
		}
	}

}
