.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.nav a { text-decoration: none; }

.nav li { list-style: none; }

.nav {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 500;

		> li {
		    display: block;
		    float: left;

				> a {
					display: block;
					padding: 5px 1rem;
					line-height: 30px;
					color: inherit;
					text-transform: none;
					text-decoration: inherit;
					cursor: pointer;

					&:hover, &:active, &:link, &:focus {
						color: inherit;
						text-decoration: inherit;
					}
				}

        &:first-child a {
          padding-left: 0;
        }

				> div {
					display: none;

          ul {
            font-size: .965em;
          }

					a:hover {
						font-weight: bold;
					}
				}

				&:hover {
          border-bottom: 2px solid $black-base;

					> div {
						display: block;
						position: absolute;
						top: 100%;
						left: 0;

						width: 750px;
						background-color: $white-base;
						border: 1px solid $gray-lighter-2;
						@include box-shadow(2px 0 1px -2px $gray-lighter-1);
					}
				}
		}
}

li.level0 > div {
	padding: 5px 10px;
}

a.level1 {
	font-weight: bold;
}
li.level1 {
	float: left;
	width: 25%;
	margin-bottom: 15px;
	padding-right: 10px;

	&:nth-child(5) {
		clear: left;
	}
}
ul.level1 {
	margin-left: 5px;
}

li.level2 {

}

.offcanvas-menu-wrapper {

  li.level0 > div {
    padding: 0;
  }

  a.level1 {
    font-weight: 400;
  }

  ul.level0 {
    margin: .5em 0;

    li {
      font-size: 1.125em;
      float: none;
      width: 100%;
      padding-left: .75em;
    }

    &.show {
      display: block;
    }
  }
}
