
ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;

	&>li {
		display: table-cell;
		vertical-align: middle;

		&>a {
			display: block;
			padding: $menu-padding-height 1.6rem;
			line-height: 1;
			color: inherit;
			text-transform: none;
			text-decoration: inherit;

			cursor: pointer;

			&:first-child {
				padding-left: 0;
			}

			&:hover, &:active, &:link, &:focus {
				color: inherit;
				text-decoration: inherit;
			}
		}
	}

}
