$spacing-bottom: 20px;

.product-view {
  div.row {
    margin-bottom: $spacing-bottom;

    &.no-margin {
      margin-bottom: 0;
    }
    &.double-margin {
      margin-bottom: calc(#{$spacing-bottom} * 2);
    }
  }

  .manufacturer-logo {
    width: 25%;
  }

  label {
    em {
      display: none;
      color: $gold-base;
    }
  }
  p.required {
    display: none;
    font-size: $font-size-small;
    color: $gold-base;
    margin-top: 0;
  }

  .review-stars {
    color: $gold-base;
  }

  .delivery-time-wrapper {
    // font-size: rem-calc(12);
    // straussberg philipp
  }
}

.thin-weight {
  font-weight: $font-weight-light;
}
.normal-weight {
  font-weight: $font-weight-base;
}
