
$font-family-base: "Tondo Regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;

// typo boxes
$font-size-box-header: rem-calc(12);
$font-color-box: #9c9c9c;
