<?xml version="1.0"?>
<config>
  <modules>
    <Horsebrands_Rewrites>
      <version>0.1.0</version>
    </Horsebrands_Rewrites>
  </modules>
  <global>
    <blocks>
      <horsebrands_rewrites>
        <class>Horsebrands_Rewrites_Block</class>
      </horsebrands_rewrites>
      <catalog>
        <rewrite>
          <navigation>Horsebrands_Rewrites_Block_Catalog_Navigation</navigation>
        </rewrite>
      </catalog>
      <checkout>
        <rewrite>
          <cart>Horsebrands_Rewrites_Block_Checkout_Cart</cart>
          <onepage>Horsebrands_Rewrites_Block_Checkout_Onepage</onepage>
          <onepage_billing>Horsebrands_Rewrites_Block_Checkout_Onepage_Billing</onepage_billing>
          <multishipping_addresses>Horsebrands_Rewrites_Block_Checkout_Multishipping_Addresses</multishipping_addresses>
        </rewrite>
      </checkout>
      <review>
        <rewrite>
          <product_view_list>Horsebrands_Rewrites_Block_Review_Product_View_List</product_view_list>
        </rewrite>
      </review>
      <Purchase>
        <rewrite>
          <supplier_edit_form>Horsebrands_Rewrites_Block_Purchase_Supplier_Edit_Form</supplier_edit_form>
          <supplier_edit_tabs>Horsebrands_Rewrites_Block_Purchase_Supplier_Edit_Tabs</supplier_edit_tabs>
          <!-- <supplier_edit_tabs_info>Horsebrands_Rewrites_Block_Purchase_Supplier_Edit_Tabs_Info</supplier_edit_tabs_info> -->
        </rewrite>
      </Purchase>

    </blocks>

    <helpers>
      <horsebrands_rewrites>
        <class>Horsebrands_Rewrites_Helper</class>
      </horsebrands_rewrites>
      <core>
        <rewrite>
          <unserializeArray>Horsebrands_Rewrites_Helper_Core_Unserializearray</unserializeArray>
        </rewrite>
      </core>
    </helpers>

    <models>
      <horsebrands_rewrites>
        <class>Horsebrands_Rewrites_Model</class>
      </horsebrands_rewrites>

      <!-- enable for multishipping -->
      <checkout>
        <rewrite>
          <type_multishipping>Horsebrands_Rewrites_Model_Checkout_Type_Multishipping</type_multishipping>
          <type_multishipping_state>Horsebrands_Rewrites_Model_Checkout_Type_Multishipping_State</type_multishipping_state>
        </rewrite>
      </checkout>
      <customer>
        <rewrite>
          <address_abstract>Horsebrands_Rewrites_Model_Customer_Address_Abstract</address_abstract>
        </rewrite>
      </customer>
      <sales>
        <rewrite>
          <order>Horsebrands_Rewrites_Model_Sales_Order</order>
          <quote>Horsebrands_Rewrites_Model_Sales_Quote</quote>
          <quote_address>Horsebrands_Rewrites_Model_Sales_Quote_Address</quote_address>
          <quote_address_total_shipping>Horsebrands_Rewrites_Model_Sales_Quote_Address_Total_Shipping</quote_address_total_shipping>
        </rewrite>
      </sales>
      <salesrule>
        <rewrite>
          <validator>Horsebrands_Rewrites_Model_SalesRule_Validator</validator>
        </rewrite>
      </salesrule>
    </models>

    <!-- get access to manufacturer and delivery information -->
    <sales>
      <quote>
        <item>
          <product_attributes>
            <manufacturer />
            <delivery_time />
          </product_attributes>
        </item>
      </quote>
    </sales>
  </global>

  <frontend>
    <routers>
      <customer>
        <args>
          <modules>
            <horsebrands_customer before="Mage_Customer">Horsebrands_Rewrites_Customer</horsebrands_customer>
          </modules>
        </args>
      </customer>
      <checkout>
        <args>
          <modules>
            <Horsebrands_Rewrites before="Mage_Checkout">Horsebrands_Rewrites_Checkout</Horsebrands_Rewrites>
          </modules>
        </args>
      </checkout>
    </routers>
    <events>
      <sales_quote_collect_totals_before>
        <observers>
          <horsebrands_rewrites_checkout_observer>
            <type>singleton</type>
            <class>horsebrands_rewrites/checkout_observer</class>
            <method>setQuoteShippingMethod</method>
          </horsebrands_rewrites_checkout_observer>
        </observers>
      </sales_quote_collect_totals_before>
      <cart_updateShipping>
        <observers>
          <horsebrands_checkout_observer>
            <type>singleton</type>
            <class>horsebrands_rewrites/checkout_observer</class>
            <method>setQuoteShippingMethod</method>
          </horsebrands_checkout_observer>
        </observers>
      </cart_updateShipping>
      <payment_method_is_active>
        <observers>
          <horsebrands_rewrites_observer>
            <type>singleton</type>
            <class>horsebrands_rewrites/observer</class>
            <method>paymentMethodIsActive</method>
          </horsebrands_rewrites_observer>
        </observers>
      </payment_method_is_active>
      <customer_login>
        <observers>
          <horsebrands_rewrites_customer_observer>
            <type>model</type>
            <class>horsebrands_rewrites/customer_observer</class>
            <method>removeInactiveItems</method>
          </horsebrands_rewrites_customer_observer>
        </observers>
      </customer_login>
    </events>
  </frontend>
  <admin>
    <routers>
      <Purchase>
        <args>
          <modules>
            <Horsebrands_Rewrites before="MDN_Purchase">Horsebrands_Rewrites_Purchase</Horsebrands_Rewrites>
          </modules>
        </args>
      </Purchase>
    </routers>
  </admin>
  <adminhtml>
    <cms>
      <browser>
        <extensions>
          <allowed>
            <jpg>1</jpg>
            <jpeg>1</jpeg>
            <png>1</png>
            <gif>1</gif>
            <pdf>1</pdf>
          </allowed>
        </extensions>
      </browser>
    </cms>
  </adminhtml>
</config>
