<?xml version="1.0"?>
<config>
    <modules>
        <Horsebrands_Rewrites>
            <version>0.0.0.8</version>
        </Horsebrands_Rewrites>
    </modules>
    <global>
      <blocks>
        <horsebrands_rewrites>
          <class>Horsebrands_Rewrites_Block</class>
        </horsebrands_rewrites>
        <catalog>
          <rewrite>
            <navigation>Horsebrands_Rewrites_Block_Catalog_Navigation</navigation>
          </rewrite>
        </catalog>
        <checkout>
          <rewrite>
            <cart>Horsebrands_Rewrites_Block_Checkout_Cart</cart>
            <onepage_billing>Horsebrands_Rewrites_Block_Checkout_Onepage_Billing</onepage_billing>
          </rewrite>
        </checkout>
        <review>
          <rewrite>
            <product_view_list>Horsebrands_Rewrites_Block_Review_Product_View_List</product_view_list>
          </rewrite>
        </review>
        <Purchase>
          <rewrite>
            <supplier_edit_form>Horsebrands_Rewrites_Block_Purchase_Supplier_Edit_Form</supplier_edit_form>
            <supplier_edit_tabs>Horsebrands_Rewrites_Block_Purchase_Supplier_Edit_Tabs</supplier_edit_tabs>
            <!-- <supplier_edit_tabs_info>Horsebrands_Rewrites_Block_Purchase_Supplier_Edit_Tabs_Info</supplier_edit_tabs_info> -->
          </rewrite>
        </Purchase>

      </blocks>

      <models>
        <horsebrands_rewrites>
          <class>Horsebrands_Rewrites_Model</class>
        </horsebrands_rewrites>

        <customer>
          <rewrite>
            <address_abstract>Horsebrands_Rewrites_Model_Customer_Address_Abstract</address_abstract>
          </rewrite>
        </customer>
        <sales>
          <rewrite>
            <quote>Horsebrands_Rewrites_Model_Sales_Quote</quote>
            <quote_address>Horsebrands_Rewrites_Model_Sales_Quote_Address</quote_address>
          </rewrite>
        </sales>
      </models>

      <!-- get access to manufacturer and delivery information -->
      <sales>
        <quote>
          <item>
            <product_attributes>
              <manufacturer />
              <delivery_time />
            </product_attributes>
          </item>
        </quote>
      </sales>

      <events>
        <sales_quote_collect_totals_before>
          <observers>
            <!-- Set default shipping method and rate when necessary -->
            <horsebrands_rewrites_checkout_observer>
              <type>singleton</type>
              <class>horsebrands_rewrites/checkout_observer</class>
              <method>setQuoteShippingMethod</method>
            </horsebrands_rewrites_checkout_observer>
          </observers>
        </sales_quote_collect_totals_before>
         <cart_updateShipping>
            <observers>
                <horsebrands_checkout_observer>
                    <type>singleton</type>
                    <class>horsebrands_rewrites/checkout_observer</class>
                    <method>updateShipping</method>
                </horsebrands_checkout_observer>
            </observers>
        </cart_updateShipping>
      </events>
    </global>

    <frontend>
      <routers>
        <customer>
          <args>
            <modules>
              <horsebrands_customer before="Mage_Customer">Horsebrands_Rewrites_Customer</horsebrands_customer>
            </modules>
          </args>
        </customer>
      </routers>
    </frontend>
    <admin>
      <routers>
        <Purchase>
          <args>
            <modules>
              <Horsebrands_Rewrites before="MDN_Purchase">Horsebrands_Rewrites_Purchase</Horsebrands_Rewrites>
            </modules>
          </args>
        </Purchase>
      </routers>
    </admin>
</config>
