<?xml version="1.0"?>
<config>
    <modules>
        <Horsebrands_Rewrites>
            <version>0.0.0.7</version>
        </Horsebrands_Rewrites>
    </modules>
    <global>
      <blocks>
        <horsebrands_rewrites>
          <class>Horsebrands_Rewrites_Block</class>
        </horsebrands_rewrites>
        <catalog>
          <rewrite>
            <navigation>Horsebrands_Rewrites_Block_Catalog_Navigation</navigation>
          </rewrite>
        </catalog>
        <checkout>
          <rewrite>
            <cart>Horsebrands_Rewrites_Block_Checkout_Cart</cart>
          </rewrite>
        </checkout>
        <review>
          <rewrite>
            <product_view_list>Horsebrands_Rewrites_Block_Review_Product_View_List</product_view_list>
          </rewrite>
        </review>
      </blocks>

      <models>
        <horsebrands_rewrites>
          <class>Horsebrands_Rewrites_Model</class>
        </horsebrands_rewrites>

        <customer>
          <rewrite>
            <address_abstract>Horsebrands_Rewrites_Model_Customer_Address_Abstract</address_abstract>
          </rewrite>
        </customer>
        <sales>
          <rewrite>
            <quote>Horsebrands_Rewrites_Model_Sales_Quote</quote>
            <quote_address>Horsebrands_Rewrites_Model_Sales_Quote_Address</quote_address>
          </rewrite>
        </sales>
      </models>

      <!-- get access to manufacturer and delivery information -->
      <sales>
        <quote>
          <item>
            <product_attributes>
              <manufacturer />
              <delivery_time />
            </product_attributes>
          </item>
        </quote>
      </sales>

      <events>
        <sales_quote_collect_totals_before>
          <observers>
            <!-- Set default shipping method and rate when necessary -->
            <horsebrands_rewrites_checkout_observer>
              <type>singleton</type>
              <class>horsebrands_rewrites/checkout_observer</class>
              <method>setQuoteShippingMethod</method>
            </horsebrands_rewrites_checkout_observer>
          </observers>
        </sales_quote_collect_totals_before>
      </events>
    </global>
</config>
